<%- include('../layouts/header.ejs') %>

<!-- Login form  -->
<div class="container">
    <%- include('../partials/flash.ejs') %>
    <div class="row justify-content-center p-50">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <div class="card border-0 rounded-start shadow-none bg-light">
                <% if(sendEmail) { %>
                <div class="card-body px-3 px-md-3">
                    <h1 class="h3 fw-light text-center mb-3">
                        Recover password
                    </h1>
                    <p class="lead fw-normal mb-4">
                        Check your email for a link to reset your password. If
                        it doesn’t appear within a few minutes, check your spam
                        folder.
                    </p>
                    <div class="d-flex justify-content-center">
                        <form action="/account/forgot-password" method="post">
                            <input type="hidden" name="_csrf" />
                            <input
                                type="hidden"
                                name="username"
                                value="<%- values.username ? values.username : '' %>"
                            />
                            <input
                                type="hidden"
                                name="email"
                                value="<%- values.email ? values.email : '' %>"
                            />
                            <input
                                type="submit"
                                class="btn btn-warning me-1"
                                value="Resend Email"
                            />
                            <a href="/auth/login" class="btn btn-success"
                                >Return to login</a
                            >
                        </form>
                    </div>
                </div>
                <% } else { %>
                <div class="card-body px-3 px-md-4">
                    <h1 class="h2 fw-light text-center mb-3">
                        Reset your password
                    </h1>
                    <form action="/account/forgot-password" method="post">
                        <% if(errors.error) { %>
                        <div class="text-center mb-2">
                            <small class="text-danger"
                                ><%= errors.error %>
                            </small>
                        </div>
                        <% } %>
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >Username</label
                            >
                            <input
                                type="username"
                                class="
                                    form-control
                                    <%-
                                    errors.username
                                    ?
                                    'is-invalid'
                                    :
                                    ''
                                    %>
                                "
                                id="username"
                                name="username"
                                value="<%- values.username ? values.username : '' %>"
                                placeholder="Enter your username"
                                required
                            />
                            <div class="invalid-feedback">
                                *<%= errors.username ? errors.username : '' %>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="form-label"
                                >Email Address</label
                            >
                            <input
                                type="text"
                                class="
                                    form-control
                                    <%-
                                    errors.email
                                    ?
                                    'is-invalid'
                                    :
                                    ''
                                    %>
                                "
                                id="email"
                                name="email"
                                value="<%- values.email ? values.email : '' %>"
                                placeholder="Enter your email address"
                                required
                            />
                            <div class="invalid-feedback">
                                *<%= errors.email ? errors.email : '' %>
                            </div>
                        </div>
                        <input
                            type="hidden"
                            name="_csrf"
                            value="<%- csrfToken ? csrfToken : '' %>"
                        />
                        <input
                            type="submit"
                            class="btn btn-info w-100"
                            value="Reset password"
                        />
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- End login form  -->

<%- include('../layouts/footer.ejs') %>
