<%- include('../layouts/header.ejs') %>

<div class="container">
    <%- include('../partials/flash.ejs') %>
    <div class="row justify-content-center p-50">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <div class="card border-0 rounded-start shadow-none bg-light">
                <div class="card-body px-3 px-md-4">
                    <h1 class="h2 fw-light text-center mb-3">
                        Choose a new Password
                    </h1>
                    <form method="post">
                        <% if(errors.error) { %>
                        <div class="text-center mb-2">
                            <small class="text-danger"
                                ><%= errors.error %>
                            </small>
                        </div>
                        <% } %>
                        <div class="mb-3">
                            <label for="password" class="form-label"
                                >Password</label
                            >
                            <input
                                type="password"
                                class="
                                    form-control
                                    <%-
                                    errors.password
                                    ?
                                    'is-invalid'
                                    :
                                    ''
                                    %>
                                "
                                id="password"
                                name="password"
                                value="<%- values.password ? values.password : '' %>"
                                placeholder="Choose a new password"
                                required
                            />
                            <div class="invalid-feedback">
                                *<%= errors.password?.msg ? errors.password?.msg
                                : '' %>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="confirm_password" class="form-label"
                                >Confirm Password</label
                            >
                            <input
                                type="password"
                                class="
                                    form-control
                                    <%-
                                    errors.confirm_password
                                    ?
                                    'is-invalid'
                                    :
                                    ''
                                    %>
                                "
                                id="confirm_password"
                                name="confirm_password"
                                value="<%- values.confirm_password ? values.confirm_password : '' %>"
                                placeholder="Confirm your new password"
                                required
                            />
                            <div class="invalid-feedback">
                                *<%= errors.confirm_password?.msg ?
                                errors.confirm_password?.msg : '' %>
                            </div>
                        </div>
                        <input
                            type="hidden"
                            name="_csrf"
                            value="<%- csrfToken ? csrfToken : '' %>"
                        />
                        <input
                            type="submit"
                            class="btn btn-primary w-100"
                            value="Save Change"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer.ejs') %>
